/* Estilo para los detalles del evento */
.event-details {
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.event-details h2 {
  margin-top: 0;
}

.event-details p {
  margin-bottom: 10px;
}

.regreso {
  margin-left: 25px;
}

/* Animación de entrada */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
